@import "style";

html, body {
    height: 100%
}

#page-container {
    margin-top: 0 !important;
}

#header {
    height: 100vh;
    background-color: $primaryColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .button {
        background-color: $primaryColor !important;
        border: 1px solid $accentColor !important;
        color: $accentColor !important;
    }
}

#header-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $lightPrimaryColor;

    h1 {
        font-size: 50px;
        color: $accentColor;
    }
}
