@import "style";

#resume-container {
    padding: 20px 30px;
}
#heading-section {
    background-color: $primaryColor;
    color: $textColor;
    padding: 40px 60px;
    border-radius: 4px 4px 0 0;

    h2 {
        color: $accentColor;
    }


    a {
        color: white;
    }
}

#overview-section {
    padding-top: 50px;
}

.resume-section {
    border-top: 1px solid $dividerColor;
    padding: 20px 60px;
}

.section-title {
    color: $primaryColor;
}

.left-column {
    p {
        margin: 0px !important;
    }
}

