{% extends 'base.html' %}

{% block content %}
    {% for project in projects %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"> {{ project.title }}</div>
            </div>
            <div class="panel-body">
                <p>{{ project.summary }}</p>
                <p>{{ project.date_start}} - {{ project.date_end }}</p>
                <p><a class="btn btn-default" href="{{page.link}}" role="button">View</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
