{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load instagram_client %}
<head>
    <link rel="stylesheet" href="{% static 'home/css/aboutme.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.js"></script>
</head>
{% instagram_recent_media count=100 %}
<div class="js-packery" id="images" data-packery-options='{ "itemSelector": ".image_container", "gutter": 10}'>
    {% for media in recent_media %}
        <a href="{{media.link}}" target="_blank" title="{{media.caption.text}}">
            <div class="image_container ">
                <img src="{{media|thumbnail}}" style="width: {{ sizes|random }}px"/>
            </div>
        </a>
    {% endfor %}
 </div>
{% endblock %}
