{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/css/projects.css' %}">
</head>
<div id="projects-container" class="row">
    {% for project in projects %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"> {{ project.title }}</div>
            </div>
            <div class="panel-body">
                <p>{{ project.summary }}</p>
                <p>{{ project.date_start}} - {% if project.date_end %} {{ project.date_end }} {% else %} Present {% endif %} </p>
                <p><a class="btn btn-default" href="{{project.link}}" role="button">View</a></p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
