{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/css/projects.css' %}">
</head>
<div id="projects-container" class="row">
    {% for project in projects %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"> {{ project.title }}</div>
            </div>
            <div class="panel-body">
                <p>{{ project.summary | safe}}</p>
                <p>{{ project.start_date | date:"M Y"}} - {% if project.end_date %} {{ project.end_date }} {% else %} Present {% endif %} </p>
		<div class="btn-toolbar" role="group">
		    {% if project.github %}
		        <a class="btn btn-default button-project" href="{{project.github}}" role="button">Github</a>
		    {% endif %}
		    {% if project.website %}
		        <a class="btn btn-default button-project" href="{{project.website}}" role="button">Website</a>
		    {% endif %}
		</div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}
