{% extends 'base.html' %}

{% block content %}
{% for info_item in personal_info %}
    <p><b>Email:</b> <a href="mailto:{{info_item.email}}">{{info_item.email}}</a></p>
    <p><b>LinkedIn:</b> <a href="{{info_item.linkedin}}">{{info_item.linkedin}}</a></p>
    <p><b>GitHub</b> <a href="{{info_item.github}}">{{info_item.github}}</a></p>
{% endfor %} 
<p>{{overview.text}}</p>
<h3>Education</h3>
{% for edu_item in education %}
<div class="row">
    <div class="col-md-4">
        <p>{{edu_item.institution}}</p>
        <p>{{edu_item.start_date}} - {{edu_item.end_date}}</p>
    </div>
    <div class="col-md-6">
        <p>{{edu_item.degree}}</p>
        <p>{{edu_item.summary | safe}}</p>
    </div>
</div>
{% endfor %}
<h3>Projects</h3>
{% for project in project_list %}
<div class="row">
    <div class="col-md-4">
        <p>{{project.title}}</p>
        <p>{{project.start_date}} - {{project.end_date}}</p>
    </div>
    <div class="col-md-6">
        <p>{{project.summary | safe}}</p>
        <p><i>{{project.technologies}}</i></p>
        {% if project.github %}
            <p><b>Github: </b><a href="{{project.github}}">{{project.github}}</a></p>
        {% endif %}
        {% if project.website %}
            <p><b>Website: </b><a href="{{project.website}}">{{project.website}}</a></p>
        {% endif %}
    </div>
</div>
{% endfor %}
<h3>Experience</h3>
{% for job in job_list %}
<div class="row">
    <div class="col-md-4">
        <p>{{job.company}}</p>
        <p>{{job.location}}</p>
        <p>{{job.start_date}} - {{job.end_date}}</p>
    </div>
    <div class="col-md-6">
        <p>{{job.job_title}}</p>
        <p>{{job.descriptioni | safe}}</p>
        <p><i>{{job.technologies}}</i></p>
    </div>
</div>
{% endfor %}
{% endblock %}
