#header {
    background: url("../img/background.jpg") top center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
}

#header-content {
    top: 0;
    left: 0;
    position: relative;
    padding: 15% 0;
    min-height: auto;
}

.bg-image {
    position: relative;
}

