@import 'style';

.navmenu {
    padding-right: 20px;
    background-color: white;
    border: none !important;
}

.navmenu-brand {
    color: $primaryTextColor !important;
}

.navmenu-nav li {
    border-top: 1px solid $dividerColor;
    text-transform: uppercase;
    padding: 10px 0;
    a {
        color: $secondaryTextColor !important;
    }
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar {
    background-color: $primaryColor !important;
    border: none;
}


@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}
