$primaryColor: #607D8B;
$darkPrimaryColor: #455A64;
$lightPrimaryColor: #CFD8DC;
$textColor: #FFFFFF;
$accentColor: #FFC107;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$dividerColor: #B6B6B6;
