@import "style";
@import "components.hamburger";
@import "components.navbar";

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
 }

#page-container {
    margin-top: 90px;
}

#social-icons {
    text-align: center;
}

#social-icons a {
    font-size: 16px;
    padding: 20px;
}

.panel-heading {
    background-color: $backgroundColor !important;
    color: $textHeaderColor !important;
}
